{% extends 'layout.html' %}

{% block refresh %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block style%}
<style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
</style>
{% endblock %}

{% block nav %}
<li><a href="index.html">Home </a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Pot <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="vegetables.html">Vegetables</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="fruits.html">Fruits</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="other.html">Other</a></li>
</ul>
</li>
<li><a href="settings.html">Settings </a></li>
<li class="active"><a href="aboutUs.html">About Us <span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
<div class="container">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
      <p><mark>Lorem ipsum dolor sit amet</mark>, consectetur adipisicing elit, sed do eiusmod
      tempor <del>incididunt ut labore</del> et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation <u>ullamco laboris nisi</u> ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <hr>

      <!-- ALIGNMENT & TRANSFORMATION-->
      <p class="text-left text-lowercase">Left aligned text.</p>
      <p class="text-center text-uppercase">Center aligned text.</p>
      <p class="text-right text-capitalize">Right aligned text.</p>
      <p class="text-justify">Justified text.</p>
      <p class="text-nowrap">No wrap text.</p>

      <!-- QUICK FLOATS -->
      <div class="pull-right">Div floated to right</div>
      <div class="pull-left">Div floated to left</div>

      <!-- CLEAR FLOAT -->
      <div class="clearfix"></div>

      <hr>

      <!-- BLOCKQUOTE -->
      <blockquote class="blockquote-reverse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
         <footer>Quote by <cite title="John Doe">John Doe</cite></footer>
      </blockquote>

      <hr>

    <!-- GRIDS -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
        </div>
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
        </div>
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
        </div>
        <div class="col-md-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
        <div class="col-md-1">
          <h3>Box</h3>
        </div>
      </div>
    </div>

    <div style="height:400px"></div>
{% endblock %}
