{% extends 'layout.html' %}

{% block refresh %}
{% endblock %}

{% block style%}
<style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
</style>
{% endblock %}

{% block nav %}
<li><a href="index"><span class="glyphicon glyphicon-home"></span> Home </a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> New Pot <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="vegetables">Vegetables</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="fruits">Fruits</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="other">Other</a></li>
</ul>
</li>
<li><a href="settings"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
<li class="active" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> About Us <span class="caret"></span><span class="sr-only">(current)</span></a>
  <ul class="dropdown-menu">
    <li class="active"><a href="aboutUs">Information</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="contact">Contact</a></li>
  </ul>
</li>
{% endblock %}

{% block body %}
<div class="container"><br>
  <p class="lead">Growing in 5 Simple Steps</p>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-8 col-sm-8">
      <img src="static/img/agroTech_flowchart.png" class="img-responsive" alt="Use Flowchart">
    </div>
  </div>
<br>
  <p class="lead">Pretty neat huh? Check out how it all works!</p>
  <div class="row">
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4"><h3>Physical</h3></div>
        <div class="col-md-4 col-sm-4"></div>
      </div>
      <img src="static/img/agroTech_physicalDia.png" class="img-responsive" alt="Physical View">
    </div>
    <div class="col-md-4 col-sm-4"><br><br><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4"><h3>Logical</h3></div>
        <div class="col-md-4 col-sm-4"></div>
      </div>
      <img src="static/img/agroTech_architecture.png" class="img-responsive" alt="Logical View">
    </div>
  </div><br>
  <p class="lead">Working Smarter is Working Less</p>
  <div class="row">
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
  </div>
  <img src="static/img/vpd_1degree.gif" class="img-responsive" alt="Vapor Pressure Deficit at 1 Degree below Leaf Temp"><br>
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4"><figcaption><strong>Fig 1 - Vapor Pressure Deficit Effect on Plants</strong></figcaption></div>
    <div class="col-md-4 col-sm-4"></div>
  </div><br>
  <div class="row">
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
  </div>
</div><br>
<div class="container">
  <p class="lead">Maintance and Care</p>
  <div class="row">
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
  </div><br>
  <div class"row">
    <div class="col-md-10 col-sm-10 col-xs-10"></div>
    <div class="col-md-2 col-sm-2">
      <h4>Build Your Own</h4>
      &emsp;<a href="static/img/agroTech_flowchart.png" download="agroTech_Assembly">
      <img border="0" src="static/img/assembly-instructions.png" alt="Download" width="84" height="92">
    </a>
    </div>
  </div>
</div>
{% endblock %}
