{% extends 'layout.html' %}

{% block style%}
<style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
</style>
{% endblock %}

{% block nav %}
<li><a href="index.html">Home </a></li>
<li class="active" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Pot <span class="caret"></span><span class="sr-only">(current)</span></a>
<ul class="dropdown-menu">
  <li class="active"><a href="vegetables.html">Vegetables</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="fruits.html">Fruits</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="other.html">Other</a></li>
</ul>
</li>
<li><a href="settings.html">Settings </a></li>
<li><a href="aboutUs.html">About Us</a></li>
{% endblock %}

{% block body %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="vegetables.html">Vegetables</a></li>
    <li class="active">Fruits</li>
    <li><a href="other.html">Other</a></li>
  </ol>
</div>
<div class="container">
  <div id="plants" class="list-group"></div>
</div>

<div id="modals" class="container"></div>

<script>
  var requestURL = 'static/data/plants.json';
  var request = new XMLHttpRequest();
  request.open('GET', requestURL);
  request.responseType = 'json';
  request.send();
  request.onload = function() {
    var plants = request.response;
    genModal(plants);
    genList(plants);
  }
  function genList(jsonObj) {
    var objs = jsonObj['Fruits'];
    for(var i = 0; i < objs.length; i++) {
      var name = objs[i].name;
      var id = objs[i].id;
      var item = '<a data-toggle="modal" href="#'+id+'" class="list-group-item">'+ name + '</a>';
      document.getElementById('plants').insertAdjacentHTML("beforeend",item);
    }
  }
  function genModal(jsonObj){
    var objs = jsonObj['Fruits'];
    var txt = '<div class="modal fade" id="';
    var txt1 = '" tabindex="-1" role="dialog" aria-labelledby="plantName">';
    var txt2 = '<div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header">';
    var txt3 = '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
    var txt4 = '<h4 class="modal-title" id="plantName">';
    var txt5 = '</h4></div><div id="plantCard" class="modal-body"><ul>';
    var txt6 = '</ul></div><div class="modal-footer"><button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>';
    var txt7 = '<button type="submit" onclick="localStorage.plantId=';
    var txt8 = ';location.href='+"'index.html'" +';" class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-tree-deciduous"></span> Select</button>';
    var txt9 = '</div></div></div></div>';
    for(var i = 0; i < objs.length; i++){
      var html = '';
      var name = objs[i].name;
      var id = objs[i].id;
      var scName = objs[i].scientificName;
      var snameHtml = '<li><strong>Scientific Name: </strong><em>'+ scName +'</em></li>';
      var tempL = objs[i].tempL;
      var tempH = objs[i].tempH;
      var tempHtml = '<li><strong>Temperature Range: </strong>'+ tempL +' - '+ tempH +'</li>';
      var humL = objs[i].humL;
      var humHtml = '<li><strong>Minimum Humedity Recommended: </strong>' + humL +'%</li>';
      var phL = objs[i].phL;
      var phH = objs[i].phH;
      var phHtml = '<li><strong>Soil pH Level Range: </strong>'+ phL +' - '+ phH +'</li>';
      var wc = objs[i].waterCycle;
      var wcHtml = '<li><strong>Watering Cycle: </strong>1 Liter per ' + wc +' Hours</li>';
      var lc = objs[i].lifeCycle;
      var lcHtml = '<li><strong>Average Life Cycle: </strong>' + lc +' Days</li>';
      html = txt + id + txt1 + txt2 + txt3 + txt4 + name + txt5 + snameHtml + tempHtml + humHtml + phHtml + wcHtml + lcHtml + txt6 + txt7 + id + txt8 + txt9;
      document.getElementById('modals').insertAdjacentHTML("beforeend",html);
    }
  }
</script>
{% endblock %}
