{% extends 'layout.html' %}

{% block refresh %}
<meta http-equiv="refresh" content="20">
{% endblock %}

{% block style%}
<style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
      .carousel{
        width: 100%;
        margin: auto;
      }

      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
      }
</style>
{% endblock %}

{% block nav %}
<li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home <span class="sr-only">(current)</span></a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> New Pot <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="vegetables.html">Vegetables</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="fruits.html">Fruits</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="other.html">Other</a></li>
  </ul>
</li>
<li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
<li><a href="aboutUs.html"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
{% endblock %}

{% block body %}
<!-- JUMBOTRON -->
  <div class="container">
    <h1 class="text-center" id="date"></h1>
    <div class="jumbotron text-center">
      <div class="container">
        <div class="container">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="static/img/file.jpeg" class="img-responsive" alt="Flowers">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="static/img/file-2.jpeg" class="img-responsive" alt="Flowers">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="static/img/file-1.jpeg" class="img-responsive" alt="Flowers">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="static/img/file-0.jpeg" class="img-responsive" alt="Flowers">
                <div class="carousel-caption">
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
        <script>
          var d = new Date();
          var month = d.getMonth() + 1;
          var day = d.getDate();
          var year = d.getFullYear();
          var hour = d.getHours();
          var min = d.getMinutes();
          var months = ["Janurary", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          if(min < 10){
            min = "0" + min;
          }
          if(month < 10){
            month = "0" + month;
          }
          if(day < 10){
            day = "0" + day;
          }
          var time = '';
          if(hour < 10){
            time = "0" + hour + ":" + min;
          }else{
            time = hour + ":" + min;
          }
          var time1 = '';
          if(hour < 12){
            if(hour == 0){
              hour = 12;
            }
            time1 = hour + ":" + min + '<small style="color: #333333;">am</small>';
          }else{
            if(hour == 12){
              hour = 24;
            }
            time1 = (hour - 12) + ":" + min + '<small style="color: #333333;">pm</small>';
          }
          var dateNum = day + "/" + month + "/" + year;
          var dateNum1= month + "/" + day + "/" + year;
          var dateLet = months[month-1] +" "+ day + ", " + year;
          if(localStorage.date == null){
            document.getElementById("date").innerHTML = time1+"     "+ dateLet;
          }
          if(localStorage.date == 0){
            if(localStorage.time == 0){
              document.getElementById("date").innerHTML = time1+"     "+ dateLet;
            }
            if(localStorage.time == 1){
              document.getElementById("date").innerHTML = time +"     "+ dateLet;
            }
          }
          if(localStorage.date == 1){
            if(localStorage.time == 0){
              document.getElementById("date").innerHTML = time1 +"     "+ dateNum;
            }
            if(localStorage.time == 1){
              document.getElementById("date").innerHTML = time +"     "+ dateNum;
            }
          }
          if(localStorage.date == 2){
            if(localStorage.time == 0){
              document.getElementById("date").innerHTML = time1 +"     "+ dateNum1;
            }
            if(localStorage.time == 1){
              document.getElementById("date").innerHTML = time +"     "+ dateNum1;
            }
          }
        </script>
        <noscript>Sorry, your browser does not support JavaScript.</noscript>
        <p>Specialists in agricultural technology.</p>
      </div>
    </div>

    <!-- TYPOGRAPHY -->
    <div class="container">
      <h1 class="page-header">My SmartPots <small>Working <em>more</em> so you do <em>less</em>.</small></h1>
      <div class="container">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Name</th>
            <th>Temp</th>
            <th>RH</th>
            <th>pH</th>
            <th>Growth Cycle</th>
          </tr>
          <div id="SmartPots">
            <tr id="pot-1" class="danger"></tr>
            <tr id="pot-2" class="danger"></tr>
            <tr id="pot-3" class="danger"></tr>
            <tr id="pot-4" class="danger"></tr>
            <tr id="pot-5" class="danger"></tr>
            <tr id="pot-6" class="danger"></tr>
            <tr id="pot1" class="success"></tr>
            <tr id="pot2" class="success"></tr>
            <tr id="pot3" class="success"></tr>
            <tr id="pot4" class="success"></tr>
            <tr id="pot5" class="success"></tr>
            <tr id="pot6" class="success"></tr>
          </div>
        </table>
        <button type="button" id="newPot" class="btn btn-primary" onclick="location.href='newPot.html';">
          New Pot
        </button>
        <button type="button" id="clearPots" class="btn btn-danger pull-right" onclick="clearPots();location.href='index.html';">
          Clear Pots
        </button>
      </div>
      <script>
        function clearPots(){
          localStorage.removeItem("plantId0");
          localStorage.removeItem("plantId1");
          localStorage.removeItem("plantId2");
          localStorage.removeItem("plantId3");
          localStorage.removeItem("plantId4");
          localStorage.removeItem("plantId5");
        }
        var plantId = -1;
        var pots = [];
        if(localStorage.temp == null){
          localStorage.temp = 0;
        }
        if(localStorage.plantId0!=null){
          plantId = localStorage.plantId0;
          pots.push(plantId);
        }
        if(localStorage.plantId1!=null){
          plantId = localStorage.plantId1;
          pots.push(plantId);
        }
        if(localStorage.plantId2!=null){
          plantId = localStorage.plantId2;
          pots.push(plantId);
        }
        if(localStorage.plantId3!=null){
          plantId = localStorage.plantId3;
          pots.push(plantId);
        }
        if(localStorage.plantId4!=null){
          plantId = localStorage.plantId4;
          pots.push(plantId);
        }
        if(localStorage.plantId5!=null){
          plantId = localStorage.plantId5;
          pots.push(plantId);
        }
        pLen = pots.length;
        for(var i = 0; i < pLen; i++){
          var plant = pots[i];
          updatePot(plant,i+1,{{"{0:0.1f}".format(temp) }},{{"{0:0.1f}".format(hum) }},{{"{0:0.1f}".format(ph)}},localStorage.temp);
        }
        function addPot(id_pot,name,temp,rh,ph,lc,alertT,alertH,alertP,tempState){
          var s = '<td><a href="fruits.html" style="text-decoration: none; color: #000000;">'+ name + '</a></td>';
          var s1 = '';
          var faren = temp * 9/5.0 + 32;
          faren = Math.round(faren*10)/10;
          if(tempState == 0){
            s1 = '<td>'+ temp + '<sup> o</sup>C</td>';
          }else{
            s1 = '<td>'+ faren + '<sup> o</sup>F</td>';
          }
          var s2 = '<td>'+ rh + '%</td>';
          var st = '<td>'+ ph + '</td>';
          if(alertT == 1){
            if(tempState == 0){
              s1 = '<td><strong>'+ temp + '<sup>o</sup>C</strong></td>';
            }else{
              s1 = '<td><strong>'+ faren + '<sup>o</sup>F</strong></td>';
            }
          }
          if(alertH == 1){
            s2 = '<td><strong>'+ rh + '%</strong></td>';
          }
          if(alertP == 1){
            st = '<td><strong>'+ ph + '</strong></td>';
          }
          if(temp == -404){
            s1 = '<td><strong> Sensor 404 </strong></td>';
          }
          if(rh == -1){
            s2 = '<td><strong> Sensor 404 </strong></td>';
          }
          if(ph == -1){
            st = '<td><strong> Sensor 404 </strong></td>';
          }
          var st1 = '';
          var st2 = '';
          if(lc < 34){
            st1 = '<td><div class="progress"><div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:'+lc+'%;">';
            st2 = st1 + lc + '%</div></div></td>';
          }
          if(lc < 67 && lc > 34){
            st1 = '<td><div class="progress"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width:'+lc+'%;">';
            st2 = st1 + lc + '%</div></div></td>';
          }
          if(lc >= 67){
            st1 = '<td><div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" style="width:'+lc+'%;">';
            st2 = st1 + lc + '%</div></div></td>';
          }
          var sf = '</tr>';
          var html = s + s1 + s2 + st + st2;
          var pot = 'pot' + id_pot;
          document.getElementById(pot).innerHTML = html;
        }
        function updatePot(plantId, pId, temp, hum, ph, tempState){
          var requestURL = 'static/data/plants.json';
          var request = new XMLHttpRequest();
          request.open('GET', requestURL);
          request.responseType = 'json';
          request.send();
          request.onload = function() {
            var name = '';
            var tempL = 100;
            var tempH = 100;
            var humL = 100;
            var humH = 100;
            var phL = 100;
            var phH = 100;
            var lc = -1;
            var potId = pId;
            var alertT = 0;
            var alertH = 0;
            var alertP = 0;
            var plants = request.response;
            if(plantId < 1000){
              var objs = plants['Vegetables'];
              for(var i = 0; i < objs.length; i++){
                if(plantId == objs[i].id){
                  name = objs[i].name;
                  tempL = parseFloat(objs[i].tempL);
                  tempH = parseFloat(objs[i].tempH);
                  humL = parseFloat(objs[i].humL);
                  humH = parseFloat("100");
                  phL = parseFloat(objs[i].phL);
                  phH = parseFloat(objs[i].phH);
                  lc = parseFloat(objs[i].lifeCycle);
                }
              }
            }
            if(plantId >= 1000 && plantId < 2000){
              var objs = plants['Fruits'];
              for(var i = 0; i < objs.length; i++){
                if(plantId == objs[i].id){
                  name = objs[i].name;
                  tempL = parseFloat(objs[i].tempL);
                  tempH = parseFloat(objs[i].tempH);
                  humL = parseFloat(objs[i].humL);
                  humH = parseFloat("100");
                  phL = parseFloat(objs[i].phL);
                  phH = parseFloat(objs[i].phH);
                  lc = parseFloat(objs[i].lifeCycle);
                }
              }
            }
            if(plantId >= 2000){
              var objs = plants['Other'];
              for(var i = 0; i < objs.length; i++){
                if(plantId == objs[i].id){
                  name = objs[i].name;
                  tempL = parseFloat(objs[i].tempL);
                  tempH = parseFloat(objs[i].tempH);
                  humL = parseFloat(objs[i].humL);
                  humH = parseFloat("100");
                  phL = parseFloat(objs[i].phL);
                  phH = parseFloat(objs[i].phH);
                  lc = parseFloat(objs[i].lifeCycle);
                }
              }
            }
            if((temp <= 10 || temp >= 50) && temp != -404){temp = (tempH+tempL)/2;}
            if(temp >= tempH || temp <= tempL){
              if(potId > 0){
                potId = potId * -1;
              }
              alertT = 1;
            }
            if(hum > 100){hum = (humH+humL)/2;}
            if(hum >= humH || hum <= humL){
              if(potId > 0){
                potId = potId * -1;
              }
              alertH = 1;
            }
            if(ph >= phH || ph <= phL){
              if(potId > 0){
                potId = potId * -1;
              }
              alertP = 1;
            }
            if(potId < 0 && localStorage.notif == 1){
              var lastNotifyT = -1;
              var lastNotifyD = -1;
              if(localStorage.notifiedH == null){
                var d = new Date();
                localStorage.notifiedH = d.getHours();
                localStorage.notifiedD = d.getDate();
                post('/index.html',{email: localStorage.email},'post');
              }else{
                lastNotifyT = localStorage.notifiedH;
                lastNotifyD = localStorage.notifiedD;
              }
              var dt = new Date();
              currentTime = dt.getHours();
              currentDate = dt.getDate();
              if(((currentTime - lastNotifyT) >= 1) || (currentDate - lastNotifyD) >= 1){
                var d = new Date();
                localStorage.notifiedH = d.getHours();
                localStorage.notifiedD = d.getDate();
                post('/index.html',{email: localStorage.email},'post');
              }
            }
            addPot(potId,name,temp,hum,ph,lc,alertT,alertH,alertP,tempState);
          }
        }
        </script>
        <script>
          function post(path, params, method) {
              method = method || "post"; // Set method to post by default if not specified.
              var form = document.createElement("form");
              form.setAttribute("method", method);
              form.setAttribute("action", path);

              for(var key in params) {
                if(params.hasOwnProperty(key)) {
                  var hiddenField = document.createElement("input");
                  hiddenField.setAttribute("type", "hidden");
                  hiddenField.setAttribute("name", key);
                  hiddenField.setAttribute("value", params[key]);

                  form.appendChild(hiddenField);
                }
              }
              document.body.appendChild(form);
              form.submit();
            }
        </script>
    </div>
{% endblock %}
