{% extends 'layout.html' %}

{% block refresh %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block style%}
<style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
</style>
{% endblock %}

{% block nav %}
<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home </a></li>
<li class="active" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> New Pot <span class="caret"></span><span class="sr-only">(current)</span></a>
<ul class="dropdown-menu">
  <li><a href="vegetables.html">Vegetables</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="fruits.html">Fruits</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="other.html">Other</a></li>
</ul>
</li>
<li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
<li><a href="aboutUs.html"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
{% endblock %}

{% block body %}
<div class="container"><br><br></div>
<div class="container">
  <p class="lead">Getting started is quick and easy.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation <u>ullamco laboris nisi</u> ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/file-0.jpeg" alt="Flowers">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/file-1.jpeg" alt="Flowers">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/file-2.jpeg" alt="Flowers">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/file.jpeg" alt="Flowers">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
    </div>
  </div>
</div>
<div class="container">
  <!-- BLOCKQUOTE -->
  <blockquote class="blockquote-reverse">
    <p>The Best Way Get Started Is To Quit Thinking And Begin Doing.</p>
     <footer><cite title="author">Walt Disney</cite></footer>
  </blockquote>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success" onclick="location.href='vegetables.html';">Vegetables</button>
      <button type="button" class="btn btn-success" onclick="location.href='fruits.html';">Fruits</button>
      <button type="button" class="btn btn-success" onclick="location.href='other.html';">Other</button>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
{% endblock %}
