{% extends 'layout.html' %}

{% block refresh %}
<meta http-equiv="refresh" content="360">
{% endblock %}

{% block style%}
<style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
</style>
{% endblock %}

{% block nav %}
<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home </a></li>
<li class="active" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> New Pot <span class="caret"></span><span class="sr-only">(current)</span></a>
<ul class="dropdown-menu">
  <li><a href="vegetables.html">Vegetables</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="fruits.html">Fruits</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="other.html">Other</a></li>
</ul>
</li>
<li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span> Settings </a></li>
<li><a href="aboutUs.html"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
{% endblock %}

{% block body %}
<div class="container"><br><br></div>
<div class="container">
  <p class="lead">Getting started is quick and easy.</p>
  <p>Begin by first making sure your <b>Agro</b>Tech <b>Smart</b>Pot is clean and that the fabric grow pot has been properly
  washed. Latch the pot onto the frame using the hooks located on the sides of the frame. Fill the grow pot with the correct
  soil for the plant species. Make sure sensors are in place and everything is connected. Turn on the AgroTech computer by flipping on the red
  switch. Allow for system to start up, then proceed to installation process if it is your first use, otherwise continue on with the
  AgroTech software.</p>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/pic1.jpg" alt="Flowers">
        <div class="caption">
          <h3>Setup</h3>
          <p>Follow all setup and maintance indications provided with the Agro SmartPot or found on the AgroTech repository.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/pic2.jpg" alt="Flowers">
        <div class="caption">
          <h3>Grow</h3>
          <p>Choose from hundreds of different plant species or use custom settings. Specific care instructions are available for almost every plant.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/pic3.jpg" alt="Flowers">
        <div class="caption">
          <h3>Reuse</h3>
          <p>AgroTech works to help the enviornment by providing reusable and adaptable products. Remember to always recycle.</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="static/img/pic4.jpg" alt="Flowers">
        <div class="caption">
          <h3>Share</h3>
          <p>Show family and friends your personal grows! Use the hastag <strong>#agrotech</strong> to be included on our social media pages as well!</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8">
      <p>Please keep in mind that a plant's health depends and varies on many enviornmental factors. Not all plants may respond the same to certain products or growing tecniques. AgroTech aims to provide accurate information for every type of plant. Note that some care indications are approximations and may require modified care per case. Love and attention are always still necessary to obtain thriving results.</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <p>Click below on one of the buttons to choose your plant type and begin growing!</p>
    </div>
  </div>
</div>
<div class="container">
  <!-- BLOCKQUOTE -->
  <blockquote class="blockquote-reverse">
    <p>The Best Way to Get Started is to Quit Thinking and Begin Doing.</p>
     <footer><cite title="author">Walt Disney</cite></footer>
  </blockquote>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success" onclick="location.href='vegetables.html';">Vegetables</button>
      <button type="button" class="btn btn-success" onclick="location.href='fruits.html';">Fruits</button>
      <button type="button" class="btn btn-success" onclick="location.href='other.html';">Other</button>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
{% endblock %}
